<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Youtube Player by Ayaan_</title>

        <style>
          html, body {
            margin: 0; padding: 0; overflow: hidden;
            background: black;
          }

          iframe {
            height: 100vh;
            width: 100vw;
          }
        </style>
    </head>

    <body>
        <div id="player"></div>
      
        <script src="/assets/js/logger.js"></script>
      
        <script>
            const tag = document.createElement('script')
            tag.src = "https://www.youtube.com/iframe_api"
          
            const youtubeScript = document.getElementsByTagName('script')[0]
            youtubeScript.parentNode.insertBefore(tag, youtubeScript)
          
            let player = {}

            const playerVars = <%- playerVars %>
          
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
                height: '100%',
                width: '100%',
                videoId: '<%= videoId %>',
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                },
                playerVars: {...playerVars, ...{ muted: null, autoplay: 0 }} // autoplay는 커스텀하여 진행, muted는 비표준 parameter로 오류 방지를 위해 삭제
              })
            }

            function onPlayerReady(event) {
              Logger.debug("Event Received - onPlayerReady")
              
              event.target.playVideo()
              event.target.setPlaybackQuality("highres")
            }

            function onPlayerStateChange(event) {
              Logger.debug("Event Received - onPlayerStateChange :", event.data)

              if (playerVars.autoplay === 1 && playerVars.muted === 0) {
                let triedAutoplay = 0

                if (event.data == YT.PlayerState.UNSTARTED) {
                  Logger.debug("Failed to Autoplay - Trying to muted-play...")

                  if (triedAutoplay <= 0) {
                      event.target.mute()
                      event.target.playVideo()

                      setTimeout(() => {
                        event.target.unMute()
                        event.target.playVideo()
                        triedAutoplay++
                      }, 250)
                  } else {
                      if (location.search.includes('muted')) {
                        location.search = location.search.replace("muted=0", "muted=1")
                      } else if (location.search != '') {
                        location.search = location.search + "&muted=1"
                      } else {
                        location.search = "?muted=1"
                      }
                  }
                } else if (event.data == YT.PlayerState.PLAYING) {
                  event.target.setPlaybackQuality("highres")
                }
              } else if (playerVars.muted === 1) {
                event.target.mute()
                event.target.playVideo()
              }
            }
          
            function stopVideo() {
              player.stopVideo()
            }
        </script>
    </body>
</html>
